/* Global */
* {
    padding: 0px;
    margin: 0px;
    background-color: #355764;
    color: white;
    font-family: Sora;
    /* box-sizing: border-box;
    border: 1px solid rgb(83, 17, 17); */
}

.container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

button {
    background: none;
    border: none;
}

.header {
    font-size: 18pt;
    color: aquamarine;
}

body {
    padding-left: 130px;
    padding-right: 130px;
}
/* Title */
.title {
    padding-top: 120px;
    padding-bottom: 120px;
}

h1 {
    font-size: 38pt;
    color: aquamarine;
}

h2 {
    font-size: 18pt;
    color: aquamarine;
}

/* Navigation Bar */
#nav-main {
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-img {
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.885);
    border-radius: 5px;
}

#nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background: none;
}

.nav-links {
    margin: 6px 10px 6px 10px;
    padding: 2px 0px 2px 0px;
    background: none;
    text-decoration: none;
    border-bottom: 1px solid aquamarine;
}

.resume-button {
    padding: 10px;
    margin-left: 10px;
    background: none;
    text-decoration: none;
    border: 1px solid aquamarine;
    border-radius: 10px;
}


/* About Me */
.about-content {
    margin-top: 4px;
    margin-bottom: 16px;
}

ul {
    list-style: none;
    margin-left: 14px;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: aquamarine; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* Technologies */
#tech-main {
    height: 200px;
    background-color: aliceblue;
}

/* Projects */
#project-main {
    height: 200px;
    background-color: rgb(224, 224, 223);
}

/* Contact Me */
#contact-main {
    height: 200px;
    background-color: aliceblue;
}

/* Fonts */

@font-face {
    font-family: "Sora";
    src: url("./Sora/Sora-VariableFont_wght.ttf") format("truetype");
  }